<% layout('layouts/boilerplate') %>
<section>
	<div class="row mb-5 d-none d-sm-block">
		<div class="col">
			<h1 class="text-center brandFont lgText">Superklok Labs</h1>
		</div>
	</div>
	<div class="row mb-5 d-block d-sm-none">
		<div class="col">
			<h1 class="text-center brandFont xsTitleText">Superklok Labs</h1>
		</div>
	</div>
</section>
<section>
	<div class="row">
		<div class="col">
			<h2 class="mdText contentFont ms-3 mb-3">About:</h2>
		</div>
	</div>
	<div class="row">
		<div class="col mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<h5 class="card-title mdText contentFont pt-2 ms-3">The Company:</h5>
					<p class="card-text smText contentFont">The main objective of Superklok Labs is to provide high-grade service in all areas of cloud computing consultation. Full-stack app design is carried out using the MongoDB, Express, React, Node stack. Legacy app containerization is accomplished using Docker and container orchestration specialization is with Kubernetes.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row my-lg-3">		
		<div class="col mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<h5 class="card-title mdText contentFont pt-2 ms-3">Contact Info:</h5>
					<p class="card-text smText contentFont">Feel free to reach out to <a href="mailto:info@superklok.com">info@superklok.com</a> with any questions or concerns that you may have. Please contact <a href="mailto:trev@superklok.com">trev@superklok.com</a> if you require a Member Code for Swingcars or an Author Code for The Current Courant. All correspondence available in English and French.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="row">
		<div class="col">
			<h2 class="mdText contentFont ms-3 mb-3">Services:</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<h5 class="card-title mdText contentFont pt-2 ms-3">Full-Stack App Design</h5>
					<p class="card-text smText contentFont">Creating MERN stack applications that stand out with unique design choices. All applications are created with a docker-compose YAML file and a multi-stage dockerfile in order to facilitate deployment.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<h5 class="card-title mdText contentFont pt-2 ms-3">Docker Containerization</h5>
					<p class="card-text smText contentFont">Enhancing legacy apps by turning them into images then capturing running instances of them called containers using Docker. This increases scalability and facilitates cross-platform compatibility.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row my-lg-3">
		<div class="col-lg-6 mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<h5 class="card-title mdText contentFont pt-2 ms-3">Kubernetes Orchestration</h5>
					<p class="card-text smText contentFont">A great way to manage your containers is by orchestrating them in pods using Kubernetes. This allows you to store secrets, obtain SSL certificates, and quickly scale up an app across many nodes.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<h5 class="card-title mdText contentFont pt-2 ms-3">Web Design</h5>
					<p class="card-text smText contentFont">Front-end web design specializing in React and harnessing the full power of CSS flexbox in order to create responsive custom websites. Contact <a href="mailto:sales@superklok.com">sales@superklok.com</a> to book a consultation.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row my-lg-3">
		<div class="col-lg-6 mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<h5 class="card-title mdText contentFont pt-2 ms-3">French Translation</h5>
					<p class="card-text smText contentFont">Full translation to French from English. This includes front-end content or documentation as well as back-end error messages and programming nomenclature.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<h5 class="card-title mdText contentFont pt-2 ms-3">Graphic Design</h5>
					<p class="card-text smText contentFont">Image alteration, custom image creation or subtle photo editing using DxO PhotoLab 4 Elite. UX customization to convey visual content message communication to the user.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row my-lg-3">
		<div class="col-lg-6 mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<h5 class="card-title mdText contentFont pt-2 ms-3">Music Production</h5>
					<p class="card-text smText contentFont">All tracks found at <a href="https://superklok.com/">superklok.com</a> can be licensed for use or downloaded for free. Please email <a href="mailto:sales@superklok.com">sales@superklok.com</a> for a quote on an exclusive license for a custom unreleased track. Superklok music is produced using FL Studio All Plugins Edition.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<h5 class="card-title mdText contentFont pt-2 ms-3">Video Editing</h5>
					<p class="card-text smText contentFont">The videos released to the various Superklok Labs social media pages are all edited and rendered using Adobe After Effects. Screen recording is accomplished with Mirillis Action! and the final cut is encoded with HandBrake before upload.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="row">
		<div class="col">
			<h2 class="mdText contentFont ms-3 mb-3">Projects:</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<img src="../assets/img/screens/SwingcarsDotNetScreen.jpg" class="card-img-top rounded" alt="">
					<h5 class="card-title mdText contentFont pt-2 ms-3"><a href="http://swingcars.net">Swingcars</a></h5>
					<p class="card-text smText contentFont">This concept was envisioned to employ a style of tasteful neon elements at night so that it resembles a different type of website at first glance. Swingcars was developed with MongoDB, Express, and Node.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<img src="../assets/img/screens/CurrentCourantDotComScreen.jpg" class="card-img-top rounded" alt="">
					<h5 class="card-title mdText contentFont pt-2 ms-3"><a href="http://currentcourant.com">The Current Courant</a></h5>
					<p class="card-text smText contentFont">This concept is meant to resemble a newspaper app where instead of traditional buttons there are words floating off the page for the user to press down. The Current Courant was developed with MongoDB, Express, and Node.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<img src="../assets/img/screens/JetWheelReelDotComScreen.jpg" class="card-img-top rounded" alt="">
					<h5 class="card-title mdText contentFont pt-2 ms-3"><a href="http://jetwheelreel.com">Jet Wheel Reel</a></h5>
					<p class="card-text smText contentFont">This concept is intended to resemble a hangar in the clouds where a private jet pulls over to get a wheel change. Jet Wheel Reel was developed with Express, and Node.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row my-lg-3">
		<div class="col-lg-4 mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<img src="../assets/img/screens/TrevMorinDotComScreen.jpg" class="card-img-top rounded" alt="">
					<h5 class="card-title mdText contentFont pt-2 ms-3"><a href="http://trevmorin.com">TrevMorin.com</a></h5>
					<p class="card-text smText contentFont">This concept makes use of the z-index to resemble outer space and it provides additional details regarding all Superklok Labs projects. TrevMorin.com was developed with Express, and Node.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<img src="../assets/img/screens/SuperklokDotComScreen.jpg" class="card-img-top rounded" alt="">
					<h5 class="card-title mdText contentFont pt-2 ms-3"><a href="http://superkloklabs.com">Superklok Labs</a></h5>
					<p class="card-text smText contentFont">This concept was designed to look like blue and red pen ink on pieces of parchment paper placed on top of a circuit board. The Superklok Labs corporate website was developed with Express, and Node.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 mb-3 mb-lg-0">
			<div class="card shadow whiteBG">
				<div class="card-body">
					<img src="../assets/img/screens/SliderPilerDotComScreen.png" class="card-img-top rounded" alt="">
					<h5 class="card-title mdText contentFont pt-2 ms-3"><a href="http://sliderpiler.com">Slider Piler</a></h5>
					<p class="card-text smText contentFont">This concept is being created to resemble a combination of classic heavy metal style and an old-fashioned hamburger restaurant. Slider Piler is currently under development using MongoDB, Express, React, and Node.</p>
				</div>
			</div>
		</div>
	</div>
</section>